window {
margin: 0px;
border: 1px solid #EBB2DF;
background-color: #282828;
}

#input {
margin: 5px;
border: none;
color: #EBB2DF;
background-color: #1d2021;
}

#inner-box {
margin: 5px;
border: none;
background-color: #282828;
}

#outer-box {
margin: 5px;
border: none;
background-color: #282828;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #EBB2DF;
}

#entry:selected {
background-color: #211D20;
}
